body{
    background-color: rgb(233, 127, 148);
}

.box{
    width: calc(100% / 8 - 1rem);
    aspect-ratio: 1;
    background-color: rgb(129, 173, 223);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.bg_mod3{
    background-color: lightgreen;
}

